<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css" media="screen">
body {
    <% if status == :wayhigh || status == :waylow %>
      background: red
    <% elsif status == :high || status == :low %>
      background: pink
    <% elsif status == :correct %>
      background: green
    <% end %>
}
    </style>
  </head>
  <body>

    <p>
      Remaining Guesses: <%= @@remaining_guesses %>
    </p>

    <% if status == :correct || cheatmode %>
      <p>
      The SECRET NUMBER is <%= secret_number %>
      </p>
    <% end %>

    <p>
    <%= message %>
    </p>

  <form action="">
    <input type="text" name="guess" />
    <input type="submit" value="Guess!" />
  </form>
  </body>
</html>
